#deliveryPage {
  width: 100%;
  min-height: 100vh;
  background: url("../../Img/hero-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-color: #00000099;
  background-blend-mode: darken;
  padding-top: 3rem;
  counter-reset: section;
  color: #fff;
  font-family: "Montserrat";
}

.deliveryContent {
  width: 100%;
  padding: 2rem 1rem;
}
.deliveryContent > .delivery {
  width: 100%;
  min-height: 70vh;
  border: 1px solid #793ea5;
  border-radius: 20px;
  background-color: #000000cc;
  padding: 1rem;
}
.deliveryContent > .delivery > .reception {
  width: 100%;
  min-height: 130px;
  border: 1px solid #fec400;
  border-radius: 20px;
  margin-top: 2.5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

.deliveryContent > .delivery > .reception::after {
  counter-increment: section;
  content: counter(section);
  position: absolute;
  top: -1.7rem;
  left: 0.7rem;
  background-color: #fec400;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deliveryContent > .delivery > .reception > div {
  flex-grow: 1;
  height: 100%;
  flex-basis: 0;
}

.deliveryContent > .delivery > .reception > .buttonReception {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.deliveryContent > .delivery > .reception > .buttonReception > button {
  width: 70%;
  height: 30%;
  padding: 0.2rem;
  background-color: transparent;
  border: 1px solid #fec400;
  border-radius: 20px;
  color: #fff;
}
.deliveryContent > .delivery > .reception > .buttonReception > button:hover {
  cursor: pointer;
}

.infoReception {
  display: flex;
}
.infoReception > div > p {
  margin-bottom: 0.2rem;
}
.infoReception > .value {
  margin-left: 0.5rem;
}

.infoReception > .value > p {
  color: #fec400;
}
