#adminHeader {
  width: 3rem;
  background-color: #3b3a3a;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  padding: 0.3rem 0rem;
  font-family: "Montserrat";
}

#adminHeader > .expand {
  width: 3rem;
  height: 3rem;
  display: inline-flex;
  gap: 0.5rem;
  transition: 500ms ease;
}

#adminHeader > .expand:hover {
  width: 12rem;
}

#adminHeader > .expand > .iconTitle {
  display: none;
}

#adminHeader > .expand > .icon {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  border: 1px solid #793ea5;
  border-radius: 5px;
  align-items: center;
  padding: 0.2rem;
  transition: all 500ms;
  position: relative;
}

#adminHeader > .expand > .icon > a > svg {
  width: 2rem;
  height: 2rem;
  color: #fec400;
}

#adminHeader > .expand > .icon:hover {
  width: 6rem;
  background-color: #793ea5;
  cursor: pointer;
  transition: all 500ms;
}

#adminHeader > .expand > .icon:hover + .iconTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
