#footer {
  width: 100%;
  background-color: #793ea5;
  position: relative;
  padding-top: 7rem;
  padding-bottom: 2rem;
}

.transparent-one {
  position: absolute;
  top: 0;
  left: 25%;
  bottom: 0;
  border-left: 1px solid #ffffff1f;
  border-right: 1px solid #ffffff1f;
  z-index: 0;
}

.transparent-two {
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  border-left: 1px solid #ffffff1f;
  border-right: 1px solid #ffffff1f;
  z-index: 0;
}

.transparent-three {
  position: absolute;
  top: 0;
  left: 75%;
  bottom: 0;
  border-left: 1px solid #ffffff1f;
  border-right: 1px solid #ffffff1f;
  z-index: 0;
}

.footer-info {
  width: 80%;
  height: auto;
  margin: 0 auto;
  font-family: "Montserrat";
  text-align: center;
  z-index: 10;
}

.footer-info > h3 {
  color: #2a1538;
  text-transform: uppercase;
}

.call_to_action {
  width: 70%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 8rem;
  font-size: 2.2rem;
  color: #ffffff;
  font-weight: 600;
}

.footer-info > .mail > a {
  color: #ffffff;
  font-size: 4rem;
  text-decoration: none;
  font-weight: 700;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.footer-info > a:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
}

.contract-number {
  color: #ffffff99;
  font-size: 1.5rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.socialDiv {
  width: 12%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.socialDiv > a {
  color: #fff;
  font-size: 3rem;
  margin: 1rem;
}

.socialDiv > a:hover {
  transform: scale(1.4);
  transition: 500ms ease;
}

.footer-info > button {
  width: 30%;
  height: 60px;
  padding: 0.3rem;
  background-color: #2a1538;
  border-radius: 20px;
  border: transparent;
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-top: 5rem;
}

.copy {
  height: 3rem;
  color: #ffffff99;
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@media (max-width: 1100px) {
  .footer-info > .mail > a {
    font-size: 3rem;
  }
}

@media (max-width: 900px) {
  .footer-info > .mail > a {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .footer-info > .mail > a {
    font-size: 1.5rem;
  }

  .call_to_action {
    width: 90%;
    margin-bottom: 4rem;
    font-size: 2rem;
  }
  .footer-info > button {
    width: 50%;
    margin-top: 3rem;
  }
}
@media (max-width: 450px) {
  .footer-info > .mail > a {
    font-size: 1rem;
  }
  .call_to_action {
    width: 95%;
    font-size: 1.5rem;
  }
}
