#info {
  width: 100%;
  height: 100vh;
  background-image: url("../../../../Img/michael-longmire.webp");
  background-size: cover;
  background-position: center;
  background-color: #000000cc;
  background-blend-mode: darken;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0.5rem;
}

.info-container {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.info-container > div {
  margin-top: 2rem;
  width: 200px;
  height: 100%;
}

.svg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #793ea5;
  font-size: 7rem;
}

.title {
  margin: 1rem 0rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #fff;
  font-family: "Nunito Sans", sans-serif;
  color: #fff;
  text-shadow: 1px 1px 3px #222;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.07rem;
  height: 5rem;
}

.text-description {
  height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  color: #fff;
}

.text-description > .paragraf {
  flex-grow: 3;
  flex-basis: 0;
}

.text-description > .button {
  flex-grow: 1;
  flex-basis: 0;
}

.text-description > div > p {
  padding: 10% 3% 3% 3%;
}

.text-description > .button > button {
  width: 70%;
  height: 3rem;
  border-radius: 20px;
  background-color: #793ea5;
  border: transparent;
  color: #fff;
  text-transform: uppercase;
}

.show-info {
  animation: show-info 2000ms ease;
}

@keyframes show-info {
  0% {
    margin-left: -20%;
    opacity: 0;
  }
  100% {
    margin-left: 0%;
    opacity: 1;
  }
}

.show-info2 {
  animation: show-info2 2000ms ease;
}

@keyframes show-info2 {
  0% {
    margin-top: 20%;
    opacity: 0;
  }
  100% {
    margin-top: 0%;
    opacity: 1;
  }
}

.show-info3 {
  animation: show-info3 2000ms ease;
}

@keyframes show-info3 {
  0% {
    margin-right: -20%;
    opacity: 0;
  }
  100% {
    margin-right: 0%;
    opacity: 1;
  }
}
.not-show {
  display: none;
}

@media (max-width: 1050px) {
  #info {
    height: auto;
  }
  .info-container {
    flex-wrap: wrap;
    min-height: 100vh;
  }
}

@media (max-width: 950px) {
  .info-container > div {
    width: 300px;
  }
}

@media (max-width: 690px) {
  .info-container > div {
    width: 60%;
  }
  .text-description {
    height: 200px;
  }
}

@media (max-width: 500px) {
  .info-container > div {
    width: 80%;
  }
  .text-description {
    height: 150px;
  }
}

@media (max-width: 500px) {
  .info-container > div {
    width: 95%;
    margin-bottom: 3.5rem;
  }
  .text-description {
    height: 150px;
  }
}
